body {
  	background:black;

  overflow: hidden;
  position:relative;
  margin:0;
  padding: 0;
  color:white;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;

  font-family: 'Open Sans', sans-serif;


  /*     min-width:500px;  -webkit-filter: blur(5px);  Chrome, Safari, Opera
    filter: blur(5px); */
}

::-webkit-input-placeholder {
   color: #222;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #222;;  
}

#cont{

  width:100vw;height:100vh;

  margin: 0 auto; border-radius:5px; border: solid 5px #444; background:silver; overflow:hidden; position:relative; max-width: 900px; max-height: 700px;
}

#effect{
  position:absolute;
  z-index:100;
  width:100%;
  height:100%;
  opacity: .2;
  background: radial-gradient(#ff1, #000);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAAAAABX3VL4AAAADklEQVQI12P4z8DA8B8ABgAB/8h3K8wAAAAASUVORK5CYII=) repeat;
  background-size: 100vw 10px;
}

#username {
  outline: none;
  border: none;
  left: 5px;
  top: 5px;
  position: absolute;
  z-index: 99999;
  background-color: transparent;
  color: #FFF;
  font-size: 20px;

  height: 28px;
  font-weight: bold;
  width: 220px;
}

#username:focus {
  border-bottom: 3px solid #FFF;
}

.blurMe {
  -moz-filter: grayscale(99%);
  -ms-filter: grayscale(99%);
  -o-filter: grayscale(99%);
  -webkit-filter: grayscale(99%);
  filter: grayscale(99%);;
  
}

.func{
    position: absolute;
  font-size:80px;
    top:-25px;
}
.lFunc{

  left:-20px;

}

.rFunc{
  right:-20px;

}

.leftArrow {
  z-index: 10;
  position: absolute;
  left: 1%;
  top: 40%;
  font-size: 50px ;
}

.rightArrow {
  z-index: 10;
  position: absolute;
  right: 1%;
  top: 40%;
  font-size: 50px ;
}

#overlay {

  z-index: 50000;
  position: absolute;
  width: 100%;
  height:100%;

  text-align: center;
}

.links:hover {
  text-decoration: underline;
  cursor: pointer;
}

.right {
  text-align: right;
  z-index: 500000;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.bigText {
  font-size: 40px;
}

.bottomRight {
  position: absolute;
  right:5px;
  bottom:5px;
}

.bottomLeft {
  position: absolute;
  left:5px;
  bottom:5px;
}

#main {
  left: 0;
  position: absolute;
  top: 0;
}


#bob {
  width: 40px;
  height: 60px;
  z-index: 10;
  position: absolute;
  transition: all .2s ;
  transform-origin: 50% 99%;
}

#ghost {
  display: none;
  opacity: 0.3;
  position: absolute;
}


.head {
  position: absolute;
  background: gray;
  width: 40px;
  height: 40px;
  border-radius: 45%;
  border: solid 1px black;
}

.body {
  position: absolute;
  background: gray;
  width: 30px;
  height: 35px;
  top: 45px;
  left: 5px;
  border-radius: 1px 1px 99% 1px;
  border: solid 1px black;

}

.comma {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  position: absolute;
  top: 12px;
  left: -1px;
  background: silver;
  width: 21px;
  height: 15px;
  border-radius: 1px 1px 100% 0px;
}

.eye {
  position: absolute;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  transition: left .3s;
  animation: blink 4s infinite;
}

#eyeLeft {
  left: 7px;
}

#eyeRight {
  left: 23px;
}

.brow {
  position: absolute;
  top: 0px;
  width: 15px;
  height: 3px;
  border: solid 1px black;
  background-color: white;
  box-shadow: 0px 3px 2px #000
}

#browLeft {
  left: 0px;
  animation: Rexpress 6s infinite reverse;
}

#browRight {
  left: 23px;
  animation: Rexpress 3s infinite;
}

.cube {
  position: absolute;
  border-radius: 5px;
  background: #e74c3c;
  box-shadow: 1px 1px 0 #c0392b, 2px 2px 0 #c0392b, 3px 3px 0 #c0392b;
}

.base {
  
  position: absolute;
  transform-origin: 50% 50%;
  transition: all 1s;
}

.Ltramp {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQElEQVR42mNggAJjY+P/yJgBGbi7u/9HxyDxkMD//xkiIyP/Y8MgyfQkoIKsrKz/6BgmWVFEjAKCVhB0JCFvAgBu8G6hcCCVYgAAAABJRU5ErkJggg==);
  background-size: 40px 40px;
}

.Rtramp {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQUlEQVR42mNggAJjY+P/yBgmzhAS+B/McXd3/4+OwQrSk/7/BymKjIzEihkqiv7/hynKysrCwIQVELSCoCMJeRMAP09uoS62OzIAAAAASUVORK5CYII=);
  background-size: 40px 40px;
}

.tramp {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAASUlEQVR42mNgAIKQwP//05P+/68ogmAQGyTGgAxgijAkjY2N/7u7u/+PjIwES4AwiA0SA8mhKMjKygJjKisAAVwKUHyBrgAmDgAynm6hgJh2RgAAAABJRU5ErkJggg==);
  background-size: 40px 40px;
}

.ice {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIBAMAAAA2IaO4AAAAGFBMVEUAAAAAQCQATCQAhDMLdTMpK/9HQv9UVP+UT7l8AAAAAXRSTlMAQObYZgAAADBJREFUCNdjYE0LTWUocywzZxB3NndhEDQRd2YwFFJUZhAxVFFiEHE0UWBgFBBkAACRpAXbVGw7oQAAAABJRU5ErkJggg==);
  background-size: 40px 40px;
}

.finish {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAAAAABX3VL4AAAADklEQVQI12P4z8DA8B8ABgAB/8h3K8wAAAAASUVORK5CYII=) repeat;
  background-size: 20px 20px;
}

.wall {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAPCAYAAADZCo4zAAAAWklEQVR42mNggAIzNdb/yJgBGYAEFnf5gnF5pOT/JBdOhCJ0SZgCuCJkBcgmYFUw0CaghwOKApgimE6YJIoJIMHLm1PhGMMKmAJkGq8CmLvgwY1sP4okodgEAMUHxylUkz7iAAAAAElFTkSuQmCC) repeat;
   background-size: 25px 50px;
 
}

.floor {
  
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAFVBMVEUAAAAAQCQATCQAhDMLdTNSpgpYqxjC/HUHAAAAAXRSTlMAQObYZgAAAC5JREFUCNcFwYEJwEAQwzD7Qvcf+CGp5IfAOOwbJcuccLxZmCkyDXFmHIhQUBR+3D0REnomYKAAAAAASUVORK5CYII=) repeat;
  background-size: 40px 40px;
}

.success {
  animation: success 4s 1 linear;
}

.bounce {
  animation: bounce .5s 1 linear;
}

.grab {
  animation: grab .5s 1 linear;
}

.grabL {
  animation: grabL .5s 1 linear;
}

.walk {
  animation: walk .4s infinite linear;

}
.walkR {
  animation: walk .4s infinite linear reverse;

}

.flatten {
   animation: flatten .15s 1 linear;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  2% {
    transform: scale(2, 0.2)
  }
  4% {
    transform: scale(1);
  }
}

@keyframes Rexpress {
  0% {
    transform: rotate(10deg);
  }
  2% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(30deg);
  }
  41% {
    transform: rotate(-10deg);
  }
  42% {
    transform: rotate(-20deg);
  }
  44% {
    transform: rotate(-30deg);
  }
  79% {
    transform: rotate(-30deg);
  }
  80% {
    transform: rotate(10deg);
  }
  82% {
    transform: rotate(20deg);
  }
  84% {
    transform: rotate(30deg);
  }
}

@keyframes flatten {
  0% {

    transform: scale(2, .7) translate(0px, 30px);
  }
}


@keyframes bounce {
  0% {
    transform: scale(2.7, .1);
  }
  25% {
    transform: scale(1, 2);
  }
  90% {
    transform: scale(1, 1.2);
  }
}

@keyframes grab {
  0% {
    transform: skew(15deg, 0deg);
  }
}
@keyframes grabL {
  0% {
    transform: skew(-15deg, 0deg);
  }
}

@keyframes walk {
  20% {
    transform: rotate(-5deg);
  }
  50% {
    transform: translate(0px, -7px);
  }
  80% {
    transform: rotate(5deg);
  }
}

@keyframes success {
  5% {
    transform: translate(0px, -7px) rotateY(100deg);
  }
  30% {
    transform: translate(0px, -24px) rotateY(-100deg);
  }
  55% {
    transform: translate(0px, -67px) rotateY(100deg);
  }
  60% {
    transform: rotateY(-100deg) scale(1.1, .9);
  }
  70% {
    transform: rotate(5deg);
  }
}

.note {
  z-index: 30;
  transform: scale(0, 0);
  position: absolute;
  max-width: 200px;
  color: black;
  background-color: white;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 20px;
}


.ani {
  animation: shimmy 1s ease-in-out
}

.tut {
  animation: shimmy 4s ease-in-out
}

@keyframes shimmy {
  3% {
    transform: scale(1, 1);
  }
  95% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 20px) scale(.05, .05) rotate(150deg);
  }
}


.leader {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 420px;
  color:black;
}
 li {
    background-color: #fff;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(black, 0.1);
}
    .list_num {
      float: left;
      line-height: 10px;
      font-size: 18px;
      color: rgba(black, 0.65);
      margin: 15px;
      font-weight: bold;
      width: 20px;
      text-align: right;
      margin-left: 10px;
    }
    h2 {
      display: block;
      margin: 0;
      font-size: 18px;
      line-height: 10px;
      font-weight: 300;
      margin-top: 15px;
      padding-right: 20px;
}
 .number {
        float: right;
        font-weight: bold;
        color: rgba(black, 0.65);
      }
